<div class="cont-modal" *ngIf="show">
  <div class="modal">
      <div class="modal-header">
        <div class="modal-icon">
          <span *ngIf="data.type === 'error'" class="material-icons-round modal-icon">sentiment_very_dissatisfied</span>
          <span *ngIf="data.type === 'success'" class="material-icons-round modal-icon">mood</span>
        </div>
      </div>
      <div class="modal-body">
        <p class="modal-title">{{data.message}}</p>
      </div>
      <div class="modal-button">
        <button pButton type="submit" class="p-button-rounded" label="Ok" (click)="closeModal()">
          <span class="material-icons-round button log-button">done</span>
        </button>
      </div>
    </div>
</div>
